@import "tailwindcss";

@theme {
  /* Noto Sans KR을 기본 샌스세리프 폰트로 설정 */
  --font-sans: "Noto Sans KR", sans-serif;
}

/* 폰트 굵기별 세부 가독성 설정 */
body {
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: -0.025em; /* 한국어 가독성을 위해 자간을 살짝 좁힘 */
}

@tailwind base;
@tailwind components;
@tailwind utilities;